<!DOCTYPE html>
<h1>High Scores</h1>
<br>
<br>
<table style="width:100%" class="table table-striped">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Score</th>
  </tr>
  {{#each results}}
  <tr id={{this.coachID}}>
    <td id="firstName">{{this.first_name}}</td>
    <td id="lastName">{{this.last_name}}</td>
    <td id="title">{{this.score}}</td>
  </tr>
  {{/each}}
</table>
<script src="editTable.js"></script>