<div style="width:100%" class="container">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">CS 467 Project - Spring 2020</h1>
            <p class="lead">Welcome to the Graduation Game!</p>
        </div>
    </div>

</div>