<div class="container">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">340 Project - Spring 2019</h1>
            <p class="lead">Welcome to the NFL Database!</p>
        </div>
    </div>

</div>